<section id="projects">
<div class="container">
  <h3>Published Android apps with my contribution</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<a href="http://play.google.com/store/apps/details?id=com.ctm.cinema&hl=en&gl=UK">
					<h3 style="text-align: center">Meerkat App</h3>
					<img src="{{ site.baseurl }}static/img/CTM.png" class="img-responsive">
				</a>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<a href="https://play.google.com/store/apps/details?id=com.stagecoach.stagecoachbus&hl=en_GB&gl=UK">
					<h3 style="text-align: center">Stagecoach Bus App</h3>
					<img src="{{ site.baseurl }}static/img/SC.png" class="img-responsive">
				</a>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<a href="https://play.google.com/store/apps/details?id=uk.co.topcashback.topcashback&hl=en_GB&gl=UK">
					<h3 style="text-align: center">TopCashback App</h3>
					<img src="{{ site.baseurl }}static/img/TCB.png" class="img-responsive">
				</a>
			</div>
		</div>
    </div>
  </div>
</div>
</section>
