<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.ctm.cinema&hl=en_GB&gl=US">Meerkat - from the Compare the Market</a></strong>
			I have been contributing to the Meerkat app where you'll find all the best things that Compare the Market has to offer like amazing deals in insurance, rewards, free credit report etc. It has been downloaded over a million times and has an average rating of 3.9. 
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.stagecoach.stagecoachbus&hl=en_GB">Stagecoach Bus App</a></strong>
			The app, downloaded more than a million times and ranked within top ten in the Google Play UK maps and navigation category, had an average rating of 4.3 when I left.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=uk.co.topcashback.topcashback&hl=en_GB">TopCashback App</a></strong>
			- The UK version of the app has already been downloaded more than a million times and ranked consistently among the top 50 shopping apps in the UK and an average rating of 4.4. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/firozansar/RedditReader">Reddit Reader</a></strong>
			- a sample Android MVVM project written in Kotlin.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/firozansar/MovieApp">Movie App</a></strong>
			- Another sample Android MVVM project written in Kotlin following the best practices.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/firozansar/Kotlin-TDD">Kotlin TDD examples</a></strong>
			- a sample project with TDD examples written in Kotlin.
		</h5>
    </div>
  </div>
</div>
</section>
