<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.stagecoach.stagecoachbus&hl=en_GB">Stagecoach Bus App</a></strong>
			The app is currently downloaded more than a million times and ranked 11th in the Google Play UK maps and navigation category (November, 2020) with an average rating of 4.3.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=uk.co.topcashback.topcashback&hl=en_GB">TopCashback App</a></strong>
			- The UK version of the app has already been downloaded more than a million times and ranked consistently among the top 50 shopping apps in the UK and an average rating of 4.4. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/firozansar/RedditReader">Reddit Reader</a></strong>
			- Ei viderer tacimates pro, quem assum ea nam. Veritus omnesque eam te. Et natum mucius tamquam vel,
			ea dolorem volumus deterruisset nec. Graeci mentitum sea an, eu prima elaboraret est.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/firozansar/MovieMvp">Movie MVP</a></strong>
			- An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.
			Te his neglegentur consectetuer.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/firozansar/Architecture-Component-Sample">Architecture Component Sample</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
    </div>
  </div>
</div>
</section>
